.Hero {
    margin: 100px;
}

.Hero > h1 {
    font-size: 3rem;
    color: blueviolet;
    text-align: center;
}
.Hero > h2 {
    font-size: 2rem;
    color: rgb(162, 103, 216);
    text-align: center;
}